body{
  display: flex;
  flex-direction: column;
  background-image: url('https://media4.giphy.com/media/Qu1ICtOf3tMp65A6Nm/giphy.gif?cid=790b7611daf470183e367a9dfbba46631ef15aae192797a2&rid=giphy.gif&ct=g');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;1,300&display=swap');
}

.nav{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.link{
  text-decoration: none;
  color:skyblue;
  width: 50px;
}
/* .player{
  font-size: 40px;
  color: darkgreen;
  text-decoration: none;
} */

.soccer{
  font-size: 40px;
  color: yellow;
  text-align: center;
}

/* #footer{
  bottom:0;
  left:0;
  width: 100%;
} */
.footer{
  color: black;
  font-size: 20px;
  background-color:lightskyblue;
  text-align: center;
  width: 100%;
  bottom:0;
  left:0;
  width: 100%;
  height: 40px;
  position: absolute;
  position: fixed;
}

h1{
  font-size: 20px;
  color: yellow;
}

/* .container {
  
  /* display: flex;
  flex-direction: column; */
  /* min-height: 100vh; */
/* } */ 

.show {
  color: white;
  width: 400px;
  background-color: black;
  border: 10px solid black;
  border-radius: 10px;
  margin: 10px;
}

.pic {
  width: 400px;
  height: 500px;
  object-fit: contain;
}

.username{
  font-size: 25px;
   color: bisque;
}

.home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    background-color: green;
    border: 5px solid yellow;
    border-radius: 10px;
    margin: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  margin: 30px 30px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px solid white;
}

.index {
  width: 200px;
  color: white;
  font-size: 15px;
  text-decoration: none;
  background-color:green;
  border: 5px solid black;
  border-radius: 10px;
  margin: 15px;
}

.container > a{
  color:white;

}

h3{
  margin: 0px;
  font-size: 20px;
  text-decoration: none;
}

img{
  background-color: khaki;
  border-radius: 60px;
  width: 150px;
  position: center;
  /* background-image: url('https://images.unsplash.com/photo-1459865264687-59'); */
}

aside{
  width: 50%;
  padding-right: .5rem;
  margin-right: .5rem;
  font-style: italic;
  color: white;
}

.player-name{
  width: 90%;
  border-radius: 20%;
}

.white{
  color: white;
  text-align: center;
}

.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.search p{
  color: white;
}