body{
  display: flex;
  flex-direction: column;
  background-image: url('https://media4.giphy.com/media/Qu1ICtOf3tMp65A6Nm/giphy.gif?cid=790b7611daf470183e367a9dfbba46631ef15aae192797a2&rid=giphy.gif&ct=g');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;1,300&display=swap');
}

/* .nav{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
} */

.Link{
  text-decoration: none;
}
/* .player{
  font-size: 40px;
  color: darkgreen;
  text-decoration: none;
} */

.soccer{
  font-size: 40px;
  color: yellow;
  text-align: center;
}


h1{
  font-size: 20px;
  color: yellow;
}

/* .container {
  
  /* display: flex;
  flex-direction: column; */
  /* min-height: 100vh; */
  /* } */ 
  
  .show {
    width: 250px;
    background-color: green;
    border: 2px solid yellow;
    border-radius: 20px;
    margin: 10px;
    height: 300px;
  }
  
  .show .single-img{
    height: 300px;
    width: 230px;
    border-radius: 20px;
  }
  
  .aside{
    background-color: green;
    border: 2px solid yellow;
    border-radius: 20px;
    width: 40%;
    margin-left: 20px;
    font-style: italic;
    color: white;
  }
  
  .aside p{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
  }
  
  .pic {
    width: 400px;
    height: 500px;
    object-fit: contain;
  }
  
  strong{
    color:maroon;
    font-size: 20px;
  }
  .username{
    font-size: 25px;
    color: bisque;
  }
  
  .home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    background-color: green;
    border: 5px solid yellow;
    border-radius: 10px;
    margin: 10px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    margin: 30px 30px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px solid white;
    text-decoration: none;
  }
  
  .result{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    margin: 30px 30px;
  }
  
  .result-column{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .column h3{
    text-align: center;
    text-decoration: none;
    color:blue;
  }

  form{
    margin-right: 20px;
  }

  .index {
    width: 200px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    background-color:green;
    border: 2px solid yellow;
    border-radius: 15px;
    margin: 15px;
  }
  
  .search p{
    color: white;
  }
  
  .me-auto{
    font-size: 30px;
  }
  
  .search{
    display: flex;
    justify-content: flex-end;
  }
  
  .form .btn{
    font-size: 30px;
  } 
  .container > a{
    color:white;
    
  }
  
  .player-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }
  
  h3{
    margin: 0px;
    font-size: 20px;
    text-decoration: none;
  }
  
  .image-player{
    margin-left: auto;
    margin-right: auto;
    border-radius: 60px;
    display: block;
  }
  
  img{
    
    background-color: khaki;
    
    width: 150px;
    
    /* background-image: url('https://images.unsplash.com/photo-1459865264687-59'); */
  }
  
  
  .player-name{
    width: 90%;
    border-radius: 20%;
  }
  
  /* .d-flex{
    display: flex;
    justify-content: center;
    margin: 0;
  } */
  
  .form-control{
    cursor: pointer;
  }
  
  .white{
    color: white;
    text-align: center;
  }

  
.foot{
  bottom: 0;
}

.foot .showPlayer{
  bottom: 0;
  padding-top: 40px;
  margin-top: 20px;
  position: fixed;
  width: 100%;
  margin-top: -200px;
}

.insert{
  margin-bottom: 140px;
}