body{
  display: flex;
  flex-direction: column;
  background-image: url('https://media4.giphy.com/media/Qu1ICtOf3tMp65A6Nm/giphy.gif?cid=790b7611daf470183e367a9dfbba46631ef15aae192797a2&rid=giphy.gif&ct=g');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;1,300&display=swap');
}

/* ---Link all pages----- */
.Link{
  text-decoration: none;
}

/* --- div Container------ */
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
  margin: 30px 30px;

}

/* --- div Container------ */
.container :hover{
  transform: scale(1.1);
}

/* --- Container column------ */
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px solid white;
  text-decoration: none;
  
}

/* ----soccer font size---- */
.soccer{
  font-size: 40px;
  color: yellow;
  text-align: center;
}

/* ---Nav -----  */
.nav{
  font-size:20px;
  color: white;
}

/* ---H1----- */
h1{
  font-size: 20px;
  color: yellow;
}

/* -----show player page---- */
.show {
  width: 250px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcK8WE1ly2R0uaZ4XH8674gFbO3-SYlBto6A&usqp=CAU');
  border: 2px solid yellow;
  border-radius: 20px;
  margin: 30px;
  height: 300px;
}

/* -----player image Search page---- */
.show .single-img{
  height: 250px;
  width: 210px;
  border-radius: 40px;
  border: 1px solid black;
}

/* --------Error Message------  */
.error{
  font-size: 30px;
  margin-left: 30px;
  color: white;
  border-radius: 1px solid white;
}

/* ----single player container ------ */
.player-container{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

/* ----- Profile details div-----  */
.aside{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://static.vecteezy.com/system/resources/previews/000/222/415/original/vector-football-soccer-background.jpg');
  border: 2px solid yellow;
  border-radius: 20px;
  width: 40%;
  margin-left: 20px;
  font-style: italic;
  color:brown;
}
  
/* ----- Profile details p Tags -----  */
.aside p{
  margin-left: 20px;
  margin-top: 10px;
  font-size: 25px;
}

/* ----- Profile details -----  */
strong{
  color:azure;
  font-size: 20px;
  padding-right: 20px;
}

/* ----- About  -----  */
.about{
  text-align: left;
  margin-left: 20px;
  font-size: 25px;
  color: white;
}

/* ----- About li -----  */
.about h2{
    color: yellow;
    margin-bottom: 10px;
}

/* ----- pic -----  */
.pic {
  width: 400px;
  height: 500px;
  object-fit: contain;
}
  
/* ----- Username -----  */
.username{
  font-size: 25px;
  color: bisque;
}

/* home div */
.home{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  background-color: green;
  border: 5px solid yellow;
  border-radius: 10px;
  margin: 10px;
}
  
/* ----results-----  */
.result{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  margin: 30px 30px;
}

/* ---result display--- */
.result-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
/* ------form seach buttons-------- */
form{
  margin-right: 20px;
}

/* -------columns---------- */
.column h3{
  text-align: center;
  text-decoration: none;
  color: white;
}

/*------- h3 index for column div--- */
h3 .index{
  padding-bottom: 10px;
  color: white;
  text-decoration: none;
}

/* ------- all h3 tags----------- */
h3 {
  margin: 0px;
  font-size: 20px;
  text-decoration: none;
}

/*------- index for column div--- */
.index {
  width: 200px;
  /* color: white; */
  font-size: 15px;
  text-decoration: none;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcK8WE1ly2R0uaZ4XH8674gFbO3-SYlBto6A&usqp=CAU');
  border: 2px solid yellow;
  border-radius: 15px;
  margin: 15px;
}

/* ---------- search p tags----------  */
.search p{
  color: white;
}

/* ---------- bootstrap p tags----------  */
.me-auto{
  font-size: 30px;
}

/* ---------- search ----------  */
.search{
  display: flex;
  justify-content: flex-end;
}
  
/* ---------- form ---------  */
.form .btn{
  font-size: 30px;
} 

/* ---- image for div------ */
.image-player{
  margin-left: auto;
  margin-right: auto;
  border-radius: 60px;
  display: block;
}

/* ---- image for div------ */
img{
  background-color:white;
  width: 150px;
}

/* --------- player name ---------- */
.player-name{
  width: 90%;
  border-radius: 20%;
}

/* ------ form control-------- */
.form-control{
  cursor: pointer;
}

/* ---------- white ----------  */
.white{
  color: white;
  text-align: center;
}

/* ------footer-------- */
.foot .showPlayer{
  bottom: 0;
  padding-top: 10px;
  margin-top: 0px;
  position: fixed;
  width: 100%;
}

/* ---hidden div----- */
.insert{
  margin-bottom: 200px; 
}

/* ---------- hide div----------  */
.hidden{
  display: none;
}

/* ---footer hide ----- */
.foot{
  bottom: 0;
}